<div class="row animated fadeIn fast" style="margin-top: 2rem">
    <div class="col">
        <div class="card border-primary mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-primary"><embed type="image/svg+xml" src="assets/icons/book-solid.svg" style="width: 70px" /></div>
            <div class="card-body text-primary">
                <h5 class="card-title">Cursos</h5>
                <p class="card-text">Ver listado completo de cursos</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-success mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success"><embed type="image/svg+xml" src="assets/icons/chalkboard-teacher-solid.svg" style="width: 100px" /></div>
            <div class="card-body text-success">
                <h5 class="card-title">Profesores</h5>
                <p class="card-text">Documentación de ayuda</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-danger mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-danger"><embed type="image/svg+xml" src="assets/icons/user-friends-solid.svg" style="width: 100px" /></div>
            <div class="card-body text-danger">
                <h5 class="card-title">Alumnos</h5>
                <p class="card-text">Documentación de ayuda</p>
            </div>
        </div>
    </div>
</div>