<div class="btn-group btn-group-toggle col-12 justify-content-center" role="group" data-toggle="buttons">
    <label class="btn btn-outline-primary active m-3" (click)="gestionar('instituciones')">
        <input type="radio" name="options" id="instituciones" autocomplete="off" checked> Gestionar Instituciones
    </label>
    <label class="btn btn-outline-primary m-3" (click)="gestionar('carreras')">
        <input type="radio" name="options" id="carreras" autocomplete="off" checked> Gestionar Carreras
    </label>
    <label class="btn btn-outline-primary m-3" (click)="gestionar('orientaciones')">
        <input type="radio" name="options" id="orientaciones" autocomplete="off" checked> Gestionar Orientaciones
    </label>
    <label class="btn btn-outline-primary m-3" (click)="gestionar('cursos')">
        <input type="radio" name="options" id="cursos" autocomplete="off" checked> Gestionar Cursos y Materias
    </label>
</div>
<div *ngIf="gestion=='instituciones'">
    <app-gestionar-instituciones></app-gestionar-instituciones>
</div>
<div *ngIf="gestion=='carreras'">
    <app-gestionar-carreras></app-gestionar-carreras>
</div>
<div *ngIf="gestion=='orientaciones'">
    <app-gestionar-orientaciones></app-gestionar-orientaciones>
</div>
<div *ngIf="gestion=='cursos'">
    <app-gestionar-cursos></app-gestionar-cursos>
</div>