<div class="row animated fadeIn fast justify-content-between" style="margin-top: 2rem">
    <div class="col-2">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="filtrar()">
            Agregar filtros
        </button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="subir()">
            Subir documento
        </button>
    </div>
</div>

<app-filtro *ngIf="filtro && !subirDoc" (getDocumentos)="filtrarDocumentos($event)"></app-filtro>

<app-subida-documento *ngIf="subirDoc && !filtro"></app-subida-documento>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-tarjetas [items]="documentos"></app-tarjetas>
