<div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
    <div class="col-md-8">
        <h4 class="card-title">Preguntas frecuentes</h4>
        <div class="card border">
            <h5 class="card-header border border-info">¿Cómo hago para registrarme en el sitio?</h5>
            <div class="card-body border border-info">
                <div class="card-text">
                    <p>Si sos <strong>alumno</strong>, deberás ingresar en la pantalla de inicio del sitio, y seguir los siguientes pasos:</p>
                    <ol>
                        <li>Hacer clic en el botón “Registrarse”</li>
                        <li>Llenar el formulario con tu nombre y tu correo electrónico. Inmediatamente se te enviará un e-mail que contiene un link.</li>
                        <li>Ingresar al link para establecer tu contraseña.</li>
                        <li>Una vez que hagas esto, ya tendrás habilitada tu cuenta.</li>
                    </ol>
                    <p>
                        Si sos <strong>docente de la universidad</strong>, deberás contactarte con el administrador; en cambio, si sos <strong>docente de una escuela</strong>, el director de la misma se deberá contactar con el administrador, quien le asignará una única cuenta para todos los docentes pertenecientes al establecimiento.
                    </p>
                </div>
            </div>
        </div>
        <div class="card border" style="margin-top: 1rem">
            <h5 class="card-header border border-info">¿Qué es Aulas Extendidas?</h5>
            <div class="card-body border border-info">
                <p class="card-text">Aulas Extendidas es un foro que provee un mecanismo para que los docentes de las escuelas puedan subir tanto archivos informativos como ejercicios para que los alumnos puedan resolver y educarse a distancia.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <h4 class="card-title">Contáctenos</h4>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="Correo Electrónico">
            </div>
            <div class="form-group">
                <label for="asunto">Asunto</label>
                <input type="text" class="form-control" id="asunto" placeholder="Asunto">
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
        </form>
    </div>

</div>