<h3 class="my-5 text-left">Subir documento</h3>
<form [formGroup]="subirForm" (ngSubmit)="onSubmit(subirForm.value)">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="nombre">* Nombre del documento</label>
            <input class="form-control" name="nombre" formControlName="nombre" type="text">
        </div>
        <div class="col-md-6 mb-3">
            <label for="categoria">* Categoría</label>
            <input class="form-control" name="categoria" formControlName="categoria" type="text">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" name="descripcion" formControlName="descripcion"></textarea>
        </div>
    </div>
    <div class="form-group row my-2">
        <label class="col-sm-2">* Tipo de institución:</label>
        <div class="custom-control custom-radio col-sm-2">
            <input id="escuela" type="radio" (change)="changeTypeInstitution($event)" class="custom-control-input" value="escuela" name="tipoInst" formControlName="tipoInst" checked>
            <label class="custom-control-label" for="escuela">Escuela</label>
        </div>
        <div class="custom-control custom-radio col-sm-2">
            <input id="universidad" type="radio" (change)="changeTypeInstitution($event)" class="custom-control-input" value="universidad" name="tipoInst" formControlName="tipoInst">
            <label class="custom-control-label" for="universidad">Universidad</label>
        </div>
    </div>

    <div *ngIf="tipoInst == 'escuela'" class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label">* Escuela/s</label>
            <div class="col-sm-10">
                <input name="instituciones" formControlName="institucion" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">* Orientación/es</label>
            <div class="col-sm-10">
                <input name="ramasInst" formControlName="ramaInst" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">* Cursos</label>
            <div class="col-sm-10">
                <input name="cursos" formControlName="cursos" type="text" class="form-control">
            </div>
        </div>
    </div>

    <div *ngIf="tipoInst == 'universidad'" class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label">* Universidad/es</label>
            <div class="col-sm-10">
                <input name="universidades" formControlName="universidades" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">* Carrera/s</label>
            <div class="col-sm-10">
                <input name="carreras" formControlName="carreras" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">* Cursos</label>
            <div class="col-sm-10">
                <input name="cursos" formControlName="cursos" type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">* Materia/s</label>
        <div class="col-sm-10">
            <input type="text" name="materias" formControlName="materias" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">* Autor/es</label>
        <div class="col-sm-10">
            <input type="text" name="autores" formControlName="autores" class="form-control">
        </div>
    </div>

    <hr class="mb-4">
    <h6>(*) Campos Obligatorios</h6>
    <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid">Subir documento</button>

</form>
