<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/img/espacioInst.jpg" alt="" width="488" height="309">
    <h2>Formá parte de EDUTEC</h2>
    <p class="lead">Mediante este formulario de contacto, usted podrá solicitar espacio en nuestro servidor para que su institución también forme parte de EDUTEC perimitiendo la integración de las actividades educativas con el objetivo de facilitar la enseñanza-aprendisaje por parte de los miembros de la comunidad educativa. </p>
</div>

<div class="text-center">
    <a href="https://google.com" class="btn btn-info btn-lg"><i class="fas fa-external-link-alt"></i> Ir a EDUTEC</a>
</div>

<hr>

<app-form-edutec></app-form-edutec>

