<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/img/espacioInst.jpg" alt="" width="488" height="309">
    <h2>Forma parte de EDUTEC</h2>
    <p class="lead">Mediante este formulario de contacto, usted podra solicitar espacio en nuestro servidor para que su institucion tambien forme parte de EDUTEC perimitiendo la integracion de las actividades educativas con el objetivo de facilitar la enseñanza-aprendisaje por parte de los miembros de la comunidad educativa. </p>
</div>

<hr>

<app-form-edutec></app-form-edutec>
