<footer class="py-4 bg-dark text-white-50 fixed-bottom">
    <div class="container text-center">
  
        <button type="button" class="btn btn-light" style="margin-right: 1rem"><i class="fab fa-google-plus-g pr-1"></i> Google+</button>
        <button type="button" class="btn btn-light"><i class="fas fa-envelope pr-1"></i> Email</button>
  
    </div>

    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="http://www.unsl.edu.ar"> Universidad Nacional de San Luis</a>
    </div>
  
</footer>